@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

footer {
  width: 100vw;
  height: 200px;
  background-color: #000;
}

h1 {
  font-weight: 700;
  font-size: 60px;
}

h2 {
  padding: 16px;
}

h3 {
  font-weight: 100;
}

h4 {
  font-size: 48px;
}

h5 {
  font-size: 20px;
  font-style: italic;
  margin: 0;
  font-weight: 400;
}

section {
  margin-top: 80px;
  padding-bottom: 36px;
}

footer {
  width: 100vw;
  height: 200px;
  background-image: url(/img/mainback.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav {
  height: 70px;
  width: 100vw;
  padding: 16px;
}

ul {
  float: right;
  margin-right: 24px;
}

li {
  display: inline-block;
  list-style: none;
  padding: 12px;
  margin: auto 16px;
}

.logo {
  width: auto;
  height: 50px;
  float: left;
  margin-top: auto;
  margin-bottom: auto;
  padding: 12px;
}

a {
  text-decoration: none;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

li:not(:first-child):hover {
  border-bottom: 3px solid black;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/img/mainback.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1000;
}

.content > p {
  font-size: 18px;
}

.center {
  text-align: center;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: row;
      flex-wrap: row;
  margin-top: 36px;
  width: 100%;
}

.skills {
  margin: 6px;
}

.works {
  width: 300px;
  height: 300px;
  margin: 6px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.skills .fas {
  font-size: 48px;
  padding-top: auto;
  padding-bottom: auto;
}

.icon {
  margin: 6px;
  padding: 16px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.border-gradient {
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.contact-details {
  padding: 12px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-details div {
  text-align: center;
}

.contact-details div i {
  font-size: 24px;
}

.contact-details div p {
  font-size: 18px;
  font-weight: 200;
}

form {
  width: 80%;
  margin: 50px auto;
}

.feedback-input {
  color: #000;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #30cfd0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #330867;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background: linear-gradient(109.6deg, #30cfd0 11.2%, #330867 92.5%);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 400;
}

[type="submit"]:hover {
  background: #330867;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.works {
  position: relative;
}

.works-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.7);
}

.works:hover .works-overlay {
  opacity: 1;
}

.works-title {
  position: absolute;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

button {
  margin: 2px;
  padding: 16px;
  font-size: 16px;
  background-color: transparent;
  border: 0.5px solid #314e52;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

button:hover {
  background-color: #314e52;
  cursor: pointer;
  color: #fff;
}

button a:hover {
  text-decoration: none;
}

.hb {
  background-image: url(/img/logo_hb.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ms {
  background-image: url(/img/logo_ms.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ppk {
  background-image: url(/img/logo_ppk.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.zap {
  background-image: url(/img/logo_zap.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolio-wrapper {
  padding-top: 120px;
  height: 100vh;
}

.works-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 36px;
}

.col-wrapper img {
  margin: 12px;
}

.pf-title-text {
  padding: 6px;
}

.pf-title-text p {
  padding: 6px;
  font-weight: 300;
}

.pf-title-img {
  width: 100%;
  height: auto;
}

.works-title a:link {
  color: #fff;
}

.works-title a:visited {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  .fa-align-right {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  .content h1 {
    font-size: 48px;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pf-first-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  footer {
    display: none;
  }
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 414px) {
  .content h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 767px) {
  .topnav li:not(:first-child) {
    display: none;
  }
  .fa-align-right {
    display: block;
    font-size: 24px;
  }
  .topnav.mobilemenu {
    position: relative;
  }
  .topnav.mobilemenu li {
    float: none;
    display: block;
    padding: 16px;
    text-align: right;
  }
}
/*# sourceMappingURL=style.css.map */