
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}


header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    box-shadow: $shadow-default;    
}

footer {
    width: 100vw;
    height: 200px;
    background-color: $black;
}

h1 {
    font-weight: 700;
    font-size: 60px;
}


h2 {
    padding: 16px;
}

h3 {
    font-weight: 100;
}


h4 {
    font-size: 48px;
}

h5 {
    font-size: 20px;
    font-style: italic;
    margin: 0;
  font-weight: 400;
}


section {
    margin-top: 80px;
    padding-bottom: 36px;
}

footer {
    width: 100vw;
    height: 200px;
    background-image: url(/img/mainback.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}