@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }

  .fa-align-right {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }

  .content h1 {
    font-size: 48px;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .pf-first-container {
    flex-direction: column-reverse !important;
  }

  footer {
    display: none;
  }
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 414px) {
  .content h1 {
    font-size: 36px;
  }

  
}

//menu

@media screen and (max-width: 767px) {
  .topnav li:not(:first-child) {
    display: none;
  }

  .fa-align-right {
    display: block;
    font-size: 24px;
  }

  .topnav.mobilemenu {
    position: relative;
    
  }

  .topnav.mobilemenu li {
    float: none;
    display: block;
    padding: 16px;
    text-align: right;
  }
}
