

$white: #fff;
$black: #000;
$dark-grey: rgba(0,0,0,0.7);
$half-black: rgba(0,0,0,0.5);
$shadow-default: 0 0 15px 0 rgba(0,0,0,0.5);

$border-gradient: linear-gradient(to left, #743ad5, #d53a9d);

$gradient: linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% );
$blue:  rgba(48,207,208,1);
$navy: rgba(51,8,103,1);


$button-border: 0.5px solid #314e52;
$dark-green: #314e52;